<footer class="bg-primary ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<!--<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0"> -->
			<h2 class="text-center"> Ledarskapscoachen </h2>
		<!--<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>

			{{ partial "newsletter-form" . }}
			-->	
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 orange">Ledarskapscoachen</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Hem</a></li>
					<li><a href="#" class="link">Ledarskap</a></li>
					<li><a href="#" class="link">Utveckling</a></li>
					<li><a href="#" class="link">Kommunikation</a></li>
					<li><a href="#" class="link">Om Ledarskapscoachen</a></li>
					<li><a href="#" class="link">Kontakt</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 orange">Annan info</h3>
				<ul class="mb3">
					<li><a href="#" class="link">Något bra</a></li>
					<li><a href="#" class="link">Något bättre</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 orange">Sociala medier</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-vimeo") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script>
$(document).ready(function(){
  $('.nav-button').click(function() {
		$('.navbar').toggleClass('fixed-top');
		$('body').toggleClass('nav-open');
  });
});
</script>

<script src="/app.js"></script>

<script>
$(window).scroll(function(){
	$('.navbar').toggleClass('custom-nav', $(this).scrollTop() > 50);
});
</script>

