
<!--<div class="pv5 pv6-l ph3 bg-center cover hero" style="background-image:
linear-gradient(
  rgba(255, 110, 78, 0.5), 
  rgba(255,240, 237, 0.2)
), url('{{.imageUrl}}')">
  <div class="mw7 center ph5">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>
    </div>
  </div>
</div> -->


<div class="cover hero" style="background-image:
linear-gradient(
  rgba(225, 90 , 09, 0.5), 
  rgba(90, 29, 87, 0.9)
), url('{{.imageUrl}}')">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-12">
        <h1 class="heading-main text-white">
          {{.title}}
        </h1>
        {{ if .subtitle }}
        <p class="heading-sub text-white">
          {{.subtitle}}
        </p>
        {{ end }}
      </div>   
    </div>
  </div>
</div> 
