<!--<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative fixed-top">

	Logo 
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	Primary Nav 
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Products</a></li>

		<li><a href="/values" class="pa3 no-underline db">Values</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav> -->

<header class="head-main fixed-top">
  <div class="navbar fixed-top" id="main-nav">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong class="text-white">Ledarskapscoachen</strong>
			</a>
      <a class="nav-button ml-auto mr-4"><span id="nav-icon3"><span></span><span></span><span></span><span></span></span></a>
    </div>
  </div> <!--navbar end-->
  
  <div class="fixed-top main-menu">
    <div class="flex-center p-5">
      <ul class="nav flex-column">
        <li class="nav-item delay-1"><a class="nav-link" href="#">Hem</a></li>
        <li class="nav-item delay-2"><a class="nav-link" href="#">Ledarskap</a></li>
        <li class="nav-item delay-3"><a class="nav-link" href="#">Utveckling</a></li>
        <li class="nav-item delay-4"><a class="nav-link" href="#">Kommunikation</a></li>
        <li class="nav-item delay-5"><a class="nav-link" href="#">Om Ledarskapscoachen</a></li>
        <li class="nav-item delay-6"><a class="nav-link" href="#">Kontakt</a></li>
      </ul>
    </div>
  </div> <!--main-menu end-->
</header>

