<!--
<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">{{.text}}</p>
  </div>
</div>
-->

<div class="bg-grey-1 p-4 container-fluid">
  <div class="container">
    <div class="row  justify-content-around align-items-center">
      <div class="col-12 col-md-2">
        <h2 class="b f2">{{.heading}}</h2>
      </div>
      <div class="col-12 col-md-6">
        <p class="">{{.text}}</p>
      </div>
    </div>
  </div>
</div>

