img {
  max-width: 100%;
}

/* Remove border-radiius from full-width images */
img:not(.w-100) {
  border-radius: var(--border-radius);
}

img.container_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0;
}